html,
body {
  text-align: center;
  background-color: #011f3f;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* title & highscore */
#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 2em;
  margin: 32px 0;
  color: #fef2bf;
}
h2,
.highScore {
  font-family: "Press Start 2P", cursive;
  font-size: 1.4rem;
  color: #fef2bf;
}
/* title & highscore sm */
@media (min-width: 650px) {
  #level-title {
    font-family: "Press Start 2P", cursive;
    font-size: 3em;
    margin: 5%;
    color: #fef2bf;
  }
  h2,
  .highScore {
    font-family: "Press Start 2P", cursive;
    font-size: 2rem;
    color: #fef2bf;
  }
}
@media (max-width: 360px) {
  h2,
  .highScore {
    font-family: "Press Start 2P", cursive;
    font-size: 1rem;
    color: #fef2bf;
  }
}

/* game container */
.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
.btn-rules {
  position: absolute;
  top: 20%;
  left: 32px;
  font-size: 1.4rem;
  color: #fef2bf;
  font-family: "Press Start 2P", cursive;
}
.container {
  display: block;
  height: 100vh;
}
.flex {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .btn {
    margin: 10px;
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 8px solid black;
    border-radius: 20%;
  }
  .btn-rules {
    position: absolute;
    top: 5%;
    left: 32px;
    font-size: 1.4rem;
    color: #fef2bf;
    font-family: "Press Start 2P", cursive;
    /* border: 2px solid red; */
  }
  .container {
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 60vh;
  }
  .flex {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .btn {
    margin: 10px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 6px solid black;
    border-radius: 20%;
  }
}
/* end edit */

.btn-rules:hover {
  cursor: pointer;
  color: #ccc297;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.container-rules {
  position: fixed;
  transform: translate(-50%);
  min-width: 360px;
  left: 50%;
  padding: 5%;
  margin-top: 5%;
  background-color: rgb(254, 249, 167);
  border: 5px solid rgb(142, 50, 0);
}
.container-rules-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
}
.rules-heading {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.rules {
  text-align: left;
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.btn-container {
  text-align: center;
}
.btn-close {
  font-family: "Press Start 2P", cursive;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  background-color: #dea057;
  color: #8e3200;
}
.btn-close:hover {
  cursor: pointer;
  background-color: #f4c38b;
}
.box-show {
  visibility: hidden;
}
